<div class="blog-post-wrapper">
  <%= link_to(blog) do %>
    <div class="blog-post <%= "border border-warning" if blog.draft? %>">
      <div class="blog-post-icon">
        <%= image_tag blog.topic.icon %>
      </div>
      <div class="blog-post-body">
        <h5><%= blog.title %></h5>
        <span class="blog-post-body-meta text-dark">
          <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago
        </span>
      </div>
      <div class="blog-post-badge">
        <% if Time.now - blog.created_at < 1.week %>
          <div class="badge badge-secondary">New!</div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
