<div class="blog-main">
  <div class="blog-header">
    <% if logged_in?(:site_admin) %>
      <div class="blog-header-admin">
        <%= link_to "Create New Blog Post", new_blog_path, class: "badge badge-success" %>
        <%= link_to "All Topics", topics_path, class: "badge badge-warning"%>
        <%= link_to "Create New Topic", new_topic_path, class: "badge badge-warning"%>
      </div>
    <% end %>
    <% @header_topics.each do |topic| %>
      <%= link_to topic.title, topic_path(topic), class: "badge badge-info" %>
    <% end %>
  </div>
  <%= render @blogs %>
  <div class="pagination">
    <%= paginate @blogs %>
  </div>
</div>
