<div class="blog-main">
  <div class="blog-header">
    <% if logged_in?(:site_admin) %>
      <div class="blog-header-admin bg-secondary rounded p-3">
        <%= link_to "Create New Blog Post", new_blog_path, class: "btn btn-sm btn-info mr-1" %>
        <%= link_to "Create New Topic", new_topic_path, class: "btn btn-sm btn-warning mr-1"%>
        <%= link_to "All Topics", topics_path, class: "btn btn-sm btn-warning"%>
      </div>
    <% end %>
    <% @header_topics.each do |topic| %>
      <%= link_to topic.title, topic_path(topic), class: "badge badge-info" %>
    <% end %>
  </div>
  <%= render @blogs %>
  <div class="pagination">
    <%= paginate @blogs %>
  </div>
</div>
