<div class="blog-main">
  <%= render partial: "blogs/admin_actions" %>
  <h2><%= @blog.title %></h2>
  <div class="blog-meta border-bottom border-light">
    <span class="border-right border-light">
      Published <%= distance_of_time_in_words(@blog.created_at, Time.now) %> ago
    </span>
    <span class="border-right border-light"><%= read_time(@blog.body) %> min read</span>
    <%= link_to @blog.topic.title, @blog.topic, class: "badge badge-dark" %>
  </div>
  <style>
    <%= ::Rouge::Themes::Gruvbox.mode(:light).render(scope: '.highlight') %>
  </style>
  <p><%= markdown @blog.body %></p>
</div>
