<nav id="nav" class="blog-nav navbar fixed-top navbar-expand-md navbar-light bg-light">
  <div class="container nav-container">
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <b><%= link_to "SP", root_path, class: "navbar-brand" %></b>
    <div class="navbar nav nav-right hidden-desktop">
      <div class="nav-item theme-toggle">
        <%= render "shared/theme_toggle" %>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= nav_helper("nav-link", "div") %>
      <ul class="navbar-nav ml-auto">
        <%= login_helper("nav-link") %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contact Me
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href ="https://github.com/SPDUK"><i class="fa fa-github"></i></a>
            <a class="dropdown-item" href ="ttps://gitlab.com/SP0"><i class="fa fa-gitlab"></i></a>
            <a class="dropdown-item" href ="https://www.reddit.com/user/SPD_"> <i class="fa fa-reddit"></i></a>
          </div>
        </li>
      </ul>
      <div class="ml-3 navbar nav nav-right hidden-mobile theme-toggle">
        <%= render "shared/theme_toggle" %>
      </div>
    </div>
  </div>
</div>
</nav>
