<nav id="nav" class="blog-nav navbar fixed-top navbar-expand-md navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <b><%= link_to "SP", root_path, class: "navbar-brand mx-auto" %></b>
    <div class="navbar nav nav-right hidden-desktop">
      <div class="nav-item theme-toggle">
        theme toggle
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Navigation
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= nav_helper("dropdown-item", "a") %>
            <div class="dropdown-divider"></div>
            <%= login_helper("dropdown-item") %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Blog Topics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @navbar_topics.each do |topic| %>
              <%= link_to topic.title, topic_path(topic), class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Archive", "#", class: "nav-link" %>
        </li>
        <li class="nav-item navbar-social">
          <a class="nav-link" href ="https://github.com/SPDUK"><i class="fa fa-github"></i></a>
          <a class="nav-link" href ="ttps://gitlab.com/SP0"><i class="fa fa-gitlab"></i></a>
          <a class="nav-link" href ="https://www.reddit.com/user/SPD_"> <i class="fa fa-reddit"></i></a>
        </li>
      </ul>
      <div class="ml-3 navbar nav nav-right hidden-mobile">
        <div class="nav-item theme-toggle">
          theme toggle
        </div>
      </div>
    </div>
  </div>
</nav>
