<div class="carousel-bg">
  <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @featured.length.times do |idx| %>
        <li data-target="#carouselIndicators" data-slide-to="<%= idx %>" class="<%= 'active' if idx === 0 %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @featured.each_with_index do |item, idx| %>
        <div
        class="carousel-item <%= 'active' if idx === 0 %>"
         main-image="<%= item.main_image %>"
         thumb-image="<%= item.thumb_image %>">
          <div class="carousel-caption">
            <h5><%= item.title %></h5>
            <%= link_to "Learn More",  project_show_path(item), class: "btn btn-info" %>
          </div>
        </div>
      <% end %>
    </div>
    <span class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </span>
    <span class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </span>
  </div>
</div>
