<%= form_with(model: project, local: true) do |f| %>
  <% if project.errors.any? %>
    <% project.errors.full_messages.each do |error| %>
      <%= error_generator(error) %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
        <%= f.label :featured, "Featured Project?" %>
        <%= f.check_box :featured %>
      </div>
      <div class="form-group">
        <%= f.label :subtitle %>
        <%= f.text_area :subtitle, class: "form-control" %>
      </div>
      <div class="form-group file-container">
        <%= f.label "Main Image (2500x800)" %>
        <%= f.hidden_field(:main_image_cache) %>
        <%= f.file_field :main_image, class: "form-control file-upload" %>
      </div>
      <div class="form-group file-container">
        <%= f.label "Thumb Image (768x768)" %>
        <%= f.hidden_field(:thumb_image_cache) %>
        <%= f.file_field :thumb_image, class: "form-control file-upload" %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control", rows: 15 %>
      </div>
    </div>
  </div>
  <%# form within a form for nested attributes, 
  from accepts_nested_attributes_for in controller, 
  creates a field for each of the built technologies  %>
  <hr>
  <div class="col-md-12">
    <h2>Technologies Used</h2>
    <div>
      <%= f.fields_for :technologies do |technology_form|  %>
        <%= render "technology_fields", f: technology_form %>
      <% end %>
      <div>
        <%= link_to_add_association 'add technology', f, :technologies, class: "btn btn-sm btn-success" %>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <%= f.submit 'Save Project', class: "btn btn-info" %>
    </div>
    <%= link_to 'Back', projects_path, class: "btn btn-sm btn-outline-danger mr-2" %>
  </div>
<% end %>
