<div class="projects-show">
  <div id="projects-show-header"
  main-image="<%= @project.main_image_url %>"></div>
  <div class="container">
    <div class="projects-show-title">
      <h2><%= @project.title %></h2>
      <div class="projects-show-title-technologies">
        <% @project.technologies.each do |t| %>
          <span class="badge badge-dark"><%= t.name %></span>
        <% end %>
      </div>
    </div>
    <h5><%= @project.subtitle %></h5>
    <p><%= @project.body %></p>
    <% if logged_in?(:site_admin) %>
      <div>
        <%= link_to "Edit project", edit_project_path(@project), class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>
</div>
