<div class="projects-show">
  <div id="projects-show-header-wrapper">
    <div id="projects-show-header"
  main-image="<%= @project.main_image_url %>"></div>
  </div>
  <div class="container">
    <% if logged_in?(:site_admin) %>
      <div class="bg-secondary rounded m-4 p-3">
        <%= link_to "Edit project", edit_project_path(@project), class: "btn btn-sm btn-warning mr-2" %>
        <%= link_to "Delete project", project_path(@project), method: :delete, data: {confirm: "Are you sure you want to delete this project?"}, class: "btn btn-sm btn-danger" %>
      </div>
    <% end %>
    <div class="projects-show-title">
      <h2><%= @project.title %></h2>
    </div>
    <style>
      <%= ::Rouge::Themes::Gruvbox.mode(:light).render(scope: '.highlight') %>
    </style>
    <p><%= markdown @project.body %></p>
  </div>
</div>
