<div class="projects-show">
  <div id="projects-show-header"
  main-image="<%= @project.main_image_url %>"></div>
  <div class="container">
    <h1><%= @project.title %></h1>
    <hr>
    <em><%= @project.subtitle  %></em>
    <p><%= @project.body %></p>
    <hr>
    <h3>Technologies Used:</h3>
    <% @project.technologies.each do |t| %>
      <p><%= t.name %></p>
    <% end %>
    <% if logged_in?(:site_admin) %>
      <div>
        <%= link_to "Edit project", edit_project_path(@project), class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>
</div>
