<!DOCTYPE html>
<html>
  <head>
    <title><%=@page_title%></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content=<%= @seo_keywords %> />
    <%= cdn_links %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-light">
    <%= render "shared/nav" %>
    <%= render "shared/loading" %>
    <div id="bg"></div>
    <div id="bg2"></div>
    <%= yield %>
    <%= alerts %>
  </div>
</body>
</html>
