<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=@page_title%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="Description" content="Personal portfolio and blog for spdevuk.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content=<%= @seo_keywords %> />
    <link rel="apple-touch-icon" sizes="152x152" href='<%= asset_path('favicons/apple-touch-icon.png') %>'>
    <link rel="icon" type="image/png" sizes="144x144" href='<%= asset_path('favicons/android-chrome-144x144.png') %>'>
    <link rel="icon" type="image/png" sizes="32x32" href='<%= asset_path('favicons/favicon-32x32.png') %>'>
    <link rel="icon" type="image/png" sizes="16x16" href='<%= asset_path('favicons/favicon-16x16.png') %>'>
    <link rel="mask-icon" href='<%= asset_path('favicons/safari-pinned-tab.svg') %>' color="#303030">
    <meta name="msapplication-TileColor" content="#303030">
    <meta name="theme-color" content="#303030">
    <%= cdn_links %>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "blog", 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-light">
    <%= render "shared/nav" %>
    <%= render "shared/loading" %>
    <div class="markdown container nav-spacing">
      <%= yield %>
      <%= render "shared/footer" %>
      <%= alerts %>
    </div>
  </body>
</html>
