<!DOCTYPE html>
<html>
  <head>
    <title><%=@page_title%></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content=<%= @seo_keywords %> />
    <link rel="apple-touch-icon" sizes="180x180" href='<%= asset_path('favicons/apple-touch-icon.png') %>'>
    <link rel="icon" type="image/png" sizes="32x32" href='<%= asset_path('favicons/favicon-32x32.png') %>'>
    <link rel="icon" type="image/png" sizes="16x16" href='<%= asset_path('favicons/favicon-16x16.png') %>'>
    <link rel="manifest" href='<%= asset_path('favicons/site.webmanifest') %>'>
    <link rel="mask-icon" href='<%= asset_path('favicons/safari-pinned-tab.svg') %>' color="#2e2e2e">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#00000">
    <%= cdn_links %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "blog", 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-light">
    <%= render "shared/nav" %>
    <div class="nav-bg bg-secondary"></div>
    <%= render "shared/loading" %>
    <div class="blog-container container">
      <%= yield %>
      <%= render "shared/footer" %>
      <%= alerts %>
    </div>
  </body>
</html>
